.idea
*.class

# Package Files #
*.jar
*.war
*.ear
/*.iml

bazel-bin
bazel-genfiles
bazel-jdbcunit
bazel-out
bazel-testlogs

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
